body{
    margin: 0;
}


/* setting header*/ 

#intestazione{
    position: fixed 0;
    background-color: rgb(252, 128, 56);
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
}

.area-personale{
  
}


/* setting MAIN SECTION*/ 
main{
    margin: 0;
    padding: 0;

}

.contenitore-flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    margin: 1% 50px;
    gap: 30px;
}


.prodoct{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    width: calc((100%/3) - 100px);
    position: relative;
    

}

.contenitore-immagine{ 
    background-size: contain;
    display: flex;
    align-items: flex-start;
    width: auto;
    position: relative;
}
 

.inmagini, .a-comparsa{
    width: 100%;
    height:100%;
}


.a-comparsa{
    display: none;
    position: absolute;

}


.contenitore-immagine:hover .a-comparsa{
    display: flex;

}
/* setting dei cuori */ 

.cuore-nero{
    position: absolute;
    top: 10px;
    right: 0;
    background-color: white;
    font-size: 35px;
    width: 40px;
    display: flex;
    justify-content: center;
    z-index: 500;
}
.prodoct:hover .cuore-nero{
    display: flex;
    color: red;
}
/*setting discount*/ 

.discount{
    background-color: red;
    color: white;
    font-size: 20px;
    width: auto;
    padding: 1% 2%;
    position: absolute;
    bottom: 0;
    left: 0;
    

}

/*setting sostenibilità*/ 

.sostenibilita{
    background-color: green;
    color: white;
    font-size: 20px;
    width: auto;
    padding: 1% 2%;
    position: absolute;
    bottom: 20px;
    left: 18%;
 
}


/*setting vecchio prezzo*/
.vecchi-prezzo{
    color: black;
   text-decoration: line-through;
}


 

/* setting testo prodotti*/ 

.titolo-prodotto, .prezzo{
    font-weight: bold;
}

.prezzo{
    color: red;
}


/* setting footer/*/

#pièpagina{
    background-color: black;
    width: 100%;
    height: 100px;
}
